<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="O. Kalu">
    <link rel="icon" href="favicon.ico">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-EmRcsPP774S9MOi4ywB+JXUWjYnBdyInMzG2XsC5siZEUpexqxOMJW358dCYEjPu" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/master.css}">
    <title>eRegistrar - Course Registration System</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a style="padding-right: 2em;" class="navbar-brand" href="/eregistrar/home">eRegistrar : : : Course Registration System</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div style="margin-top:1em;margin-bottom:1em;" class="container">
        <div>
            <span style="font-size: 2em; color: #32a5e7;">February 2022 FPP Group Registration</span>
        </div>
        <!-- Search panel -->
        <form id="searchBookForm" method="get" action="/eregistrar/course/search">
            <div style="margin-top:1em;" class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" id="searchString" name="searchString" placeholder="Enter a string to search for courses" th:value="${searchString}" autofocus />
                        <div class="input-group-append">
                            <button id="btnSubmit" type="submit" class="btn btn-outline-success">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div style="font-size: 1em">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Course Code</th>
                    <th scope="col">Course Title</th>
                    <th scope="col">Faculty</th>
                    <th scope="col">Available Seat(s)</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="course,counter : ${courses}">
                    <th scope="row" th:text="${counter.count}+${'.'}"></th>
                    <td th:text="${course.course.courseCode}"></td>
                    <td th:text="${course.course.courseTitle}"></td>
                    <td th:text="${course.user.firstName}+ ' ' +${course.user.lastName}"></td>
                    <td th:text="${course.capacity}"></td>
                    <td>
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                            <option selected>Select Priority</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                            <option value="4">Four</option>
                            <option value="5">Five</option>
                        </select>
                    </td>
                    <td>
                        <a th:href="@{'/eregistrar/course/course/{courseId}'(courseId=${course.course.courseId})}"><i class="far fa-eye" style="color:#42b0f5;" ></i></a>
                        <a th:href="@{'/eregistrar/course/edit/{courseId}'(courseId=${course.course.courseId})}"><i class="far fa-edit" style="color:#f5c542;" ></i></a>
                        <a th:href="@{'/eregistrar/course/delete/{courseId}'(courseId=${course.course.courseId})}"><i class="far fa-trash-alt" style="color:#f5426c;" ></i></a>
                        <a th:href="@{'/eregistrar/course/save/{courseId}'(courseId=${course.course.courseId})}"><i class="far fa-save" style="color:#f5426c;" ></i></a>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Assign Course To Faculty</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="modal-body mx-3">
                                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                                <option selected>Select Course</option>
                                                <option value="1">Fundamental Programming Practices</option>
                                                <option value="2">Modern Programming Practices</option>
                                                <option value="3">Big Data Technology</option>
                                                <option value="4">Algorithms</option>
                                            </select>
                                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                                <option selected>Select Faculty</option>
                                                <option value="1">Paul Corazza</option>
                                                <option value="2">Obinna Kalu</option>
                                                <option value="3">Mrudula Mukadam</option>
                                                <option value="4">Emdad Khan</option>
                                            </select>
                                            <div class="md-form mb-4">
                                                <input type="text" id="capacity" class="form-control form-control-sm" />
                                                <label class="form-label" for="capacity">Capacity</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Assign</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    </td>
                </tr>
<!--                <tr th:if="${academicBlockCount < 1}">-->
<!--                    <td colspan="8" th:align="center">No course offered!</td>-->
<!--                </tr>-->
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmDeleteBookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you wish to delete this book data?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <p>&nbsp;</p>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">Tohfa & Anwar : : : CS425-SWE</span>
            <span style="float:right;" class="text-muted">&copy; January 2022</span>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
